@tailwind base;

@tailwind components;

/* LiveView specific classes for your customizations */
.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}

.phx-disconnected *{
  pointer-events: none;
}

@import "../node_modules/nprogress/nprogress.css";

.editor {
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  font-weight: 400;
  height: 340px;
  letter-spacing: normal;
  line-height: 20px;
  padding: 10px;
  tab-size: 4;
}

.bg-dracula {
  background-color: #282a36;
}

pre {
  font-family: 'Source Code Pro', monospace;
  white-space: pre-wrap;
}

.logged-error {
  @apply border-l-8 border-red-400;
}

.logged-log {
  @apply border-l-8 border-gray-400;
}

.logged-value {
  @apply border-l-8 border-blue-400;
}

.logged-input {
  @apply border-l-8 border-green-400;
}

.logged-output {
  @apply border-l-8 border-yellow-400;
}


@tailwind utilities;
